:root {
    --primary-color: #d80000;
    --secondary-color: #281713;
    --background-color: #333;
    --dark-color: #111111;
    --text-color: #d8d8d8;
    --default-indent: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: var(--text-color);
    background-color: var(--dark-color);
    width: 100%;
    z-index: 1000;
    text-align: left;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar span {
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
    display: inline; 
}

.navbar a {
    color: var(--text-color);
    padding: 14px;
    text-decoration: none;
    display: inline-block;
    /* Changed from float to display inline-block for alignment */
}

button {
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.popup-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 40px;
    /* Adjust based on the navbar height */
    background-color: var(--gray-color);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.popup-menu a {
    float: none;
    display: block;
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-color);
    margin-left: var(--default-indent);
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: var(--default-indent) 0;
    padding: 0 var(--default-indent);
    /* Added padding to maintain layout for images */
    max-width: 100%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0 var(--default-indent);
    background-color: #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

table:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    /* Slightly darker shadow when table is hovered */
}

table,
th,
td {
    border: 1px solid #242424;
    /* Darker border color for a stronger look */
}

th,
td {
    padding: 15px;
    /* Retained padding for better readability */
    text-align: left;
    border-bottom: 1px solid #242424;
    /* Darker bottom border to each cell for definition */
    color: var(--text-color);
    /* Light grey text for readability against the dark background */
}

th {
    background-color: var(--primary-color);
    /* Dark red background for headers */
    color: var(--text-color);
    /* Retained white text for contrast */
    font-weight: bold;
    /* Retained bold font for headers */
}

footer {
    background-color: var(--dark-color);
    color: white;
    padding: 0px;
    position: relative;
    margin-top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    visibility: visible;
}